@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";

$debug : false;

$WINDOW_WIDTH : 1280px;
$IMG_WIDTH : 250px;

body {
  @if $debug == false {
    background-color: #000;
  }
  @else {
    background-color: #FFF;
  }
}

@mixin debug($color) {
  @if $debug == true {
    background-color: $color;
  }
}

section {
  .lh {
    float: left;
    @include debug(#00F);
    height: $IMG_WIDTH;
    width: ($WINDOW_WIDTH / 2) - ($IMG_WIDTH / 2);
  }

  .rh {
    float: left;
    @include debug(#0FF);
    height: $IMG_WIDTH;
    width: $IMG_WIDTH;
  }

  .lgap {
    float: left;
    @include debug(#F0F);
    height: $IMG_WIDTH;
    width: ($WINDOW_WIDTH / 2) - ($IMG_WIDTH / 2) - $IMG_WIDTH;
  }

  .rgap {
    float: left;
    @include debug(#F0F);
    width : ($WINDOW_WIDTH / 2) - 230px;
    height: $IMG_WIDTH;
  }

  .lv {
    float: left;
    @include debug(#FF0);
    height: $IMG_WIDTH;
    width: $IMG_WIDTH * 2;
  }

  .rv {
    float: left;
    height: $IMG_WIDTH;
    @include debug(#000);
    width: $IMG_WIDTH;
  }
}

$right : 90deg;
$down : 180deg;
$left : 270deg;

$width : $IMG_WIDTH;

@mixin img-size() { 
  height: $IMG_WIDTH;
  width: $width;
}

@mixin img-orientation($orientation) {
  -moz-transform:rotate($orientation);
  -webkit-transform:rotate($orientation);
  -o-transform:rotate($orientation);
  -ms-transform:rotate($orientation);
  transform:rotate($orientation);
}

.up {
  @include img-size();
}

.right {
  @include img-size();
  @include img-orientation($right);
}

.down {
  @include img-size();
  @include img-orientation($down);
}

.left {
  @include img-size();
  @include img-orientation($left);
}
