<!DOCTYPE html>
<html>
<head>
  <title>Holo</title>
</head>
<body>
  <section>

    <div class="row">
      <div class="lh">left corner</div>
      <div class="rh">
        <img src="test.gif" class="up"/>
      </div>
      <div class="rgap"></div>
    </div>

    <div class="row">
      <div class="lgap"></div>
      <div class="lv">
        <img src="test.gif" class="left"/>
        center
      </div>

      <div class="rv">
        <img src="test.gif" class="right"/>
      </div>
    </div>

    <div class="row">
      <div class="lh">tavu</div>

      <div class="rh">
        <img src="test.gif" class="down"/>
      </div>
    </div>

  </section>
</body>
</html>
