<section>

<div class="row">
  <div class="lh">left corner</div>
  <div class="rh">
    <img {{bind-attr src=currentGif}} class="up"/>
  </div>
  <div class="rgap"></div>
</div>

<div class="row">
  <div class="lgap"></div>
  <div class="lv">
    <img {{bind-attr src=currentGif}} class="left"/>
    center
  </div>

  <div class="rv">
    <img {{bind-attr src=currentGif}} class="right"/>
  </div>
</div>

<div class="row">
  <div class="lh">tavu</div>

  <div class="rh">
    <img {{bind-attr src=currentGif}} class="down"/>
  </div>
</div>

</section>
